* {
    font: 15px Arial, sans-serif;
    color: #edeced;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width:100%;
}


#navbar {
  z-index: 2;
  overflow: hidden;
}

ul.navigation {
    list-style-type: none;
    padding-left: 50px;
    overflow: hidden;
    background-color: #333333;
    
  }

li.navigation {
    display: inline;
    float:left;
}

a.navigation {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a.navigation:hover {
    background-color: #000000;
  }

li a.active {
    background-color: #004f6d;
  }



#top {
    background-color: #060724;
}

#data-vis {
    background-color: #004f6d;
}

#improvements {
    background-color: #060724;
}

#automation {
  background-color: #060724;
}

#contact {
    background-color: #edeced;
}

#footer {
  background-color: #333333;
  text-align: center;
}

#skills_header {
  color: #edeced;
}


h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.125rem;
}

h3 { 
    font-size: 1.75rem;
}

h4 { 
    font-size: 1.3125rem;
}

h5 { 
  font-size: 18px;
}

.text-block {
  padding: 30px;
}

.justified {
  text-align: justify;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  width: 40%;
  border-radius: 16px;
  box-shadow: 7px 7px 10px #000000;
}

label {
  color:#060724;
}

input {
  color:#060724;
}

#profile-image {
  background-size: cover;
  height: 40rem;
  
}

#about-image {
  background-size: cover;
  height: 40rem;
  transform: scaleX(-1);
}

#about-me {
  background-color: #07263e;
}

button {
  background-color: #004f6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left-50, .flex-item-right-50{
  flex: 50%;
}

 
.flex-item-left-40{
  flex: 38%;
}

.flex-item-right-60 {
  flex: 62%;
  padding: 3rem;
}

.flex-item-center {
  flex: 100%;
}

.flex-item-left-33, .flex-item-middle-33, .flex-item-right-33{
  flex: 33.33%;
}



@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

#headline {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #edeced;
}

.drkblue-text {
  color:#060724;
}

ol li {
  color:#060724;
}

#contact p, b {
  color: #060724;
}

.socials {
  margin:7px;
}

.skill-container {
  width: 75%;
  background-color: #edeced;
  margin:auto;
  
}

.skills {
  text-align: right;
  padding:5px;
  color: white;
}

.html {width: 90%; background-color: #060724;}
.css {width: 80%; background-color: #060724;}
.js {width: 65%; background-color: #060724;}
.php {width: 60%; background-color: #060724;}