* {
    font: 15px Arial, sans-serif;
    color: #edeced;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width:100%;
}

#navbar {
  z-index: 2;
  overflow: hidden;
}

ul.navigation {
    list-style-type: none;
    padding-left: 50px;
    overflow: hidden;
    background-color: #333333;
    
  }

li.navigation {
    display: inline;
    float:left;
}

a.navigation {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a.navigation:hover {background-color: #000000;}

li a.active {background-color: #004f6d;}

#top {background-color: #060724; height: 100vh; padding-top: 50px;}
#data-vis {background-color: #004f6d; height: 100vh; padding-top: 50px;}
#improvements {background-color: #060724; height: 100vh; padding-top: 50px;}
#automation {background-color: #060724;height: 100vh; padding-top: 50px;}
#contact {background-color: #edeced;height: 100vh; padding-top: 50px;}
#footer {background-color: #333333; text-align: center;}
#skills_header {color: #edeced;}
#about-me {background-color: #07263e; height: 100vh; padding-top: 50px;}


h1 {font-size: 4.4rem;}
h2 {font-size: 3.125rem;}
h3 { font-size: 1.75rem;}
h4 { font-size: 1.3125rem;}
h5 { font-size: 18px;}

#data-vis li {font-size: 1.4rem; text-align: left;}

ul {
  list-style-image: url('images/checked.png');
}
.fade-item {
  transition: 2s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.text-block {padding: 30px;}

.justified {text-align: justify;}

.container {
  padding: 30px;
  width: 80%;
  border-radius: 16px;
  text-align: left;
}

 label {
  color:#060724;
}

input {
  color:#060724;
} 

#profile-image {
  background-size: cover; width: 40vw;  }

#about-image {

  background-size:cover;
  height: 40rem;
  transform: scaleX(-1);
}

button {
  background-color: #004f6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

.flex-item-left-50, .flex-item-right-50{flex: 50%;}

 
.flex-item-left-40{flex: 38%;}

.flex-item-right-60 {flex: 62%; padding: 3rem;}

.flex-item-center {flex: 100%;}

.flex-item-left-33, .flex-item-middle-33, .flex-item-right-33{flex: 33.33%;}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;}
  #top {height: auto;}
  #data-vis {height: auto;}
  #improvements {height: auto;}
  #automation {height: auto;}
  #contact {height: auto;}
  #about-me {height: auto;} 
  iframe {display: none;}
  #skill-container {flex-direction: row;}
  #skill-container img {height: 60px}
  #profile-image {background-size: cover; width: 80vw;  }
}

#headline {background-color: #ffffff;}

.grey-bg {background-color: #edeced;}

.drkblue-text {color:#060724;}

ol li {color:#060724;}

#contact p{color: #060724; font-size: 20px;}

.socials {margin:7px;}

.skill-container {
  width: 75%;
  background-color: #edeced;
  margin:auto;
  border-radius: 15px;
}

.skills {
  text-align: right;
  padding:5px;
  color: white;
}

.html {width: 80%; background-color: #060724; border-radius: 15px;}
.sql {width: 90%; background-color: #060724; border-radius: 15px;}
.python {width: 75%; background-color: #060724;border-radius: 15px;}
.exl {width: 80%; background-color: #060724;border-radius: 15px;}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 18px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #07263e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-top: 30px;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 100%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

iframe {
  width: 80%;
  height:60vh;
}
