* {
    font: 15px Arial, sans-serif;
    color: #edeced;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav {
  position: fixed;
  top: 0;
  width:100%;
}

ul.navigation {
    list-style-type: none;
    padding-left: 50px;
    overflow: hidden;
    background-color: #333333;
    
  }

li.navigation {
    display: inline;
    float:left;
}

a.navigation {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a.navigation:hover {
    background-color: #000000;
  }

li a.active {
    background-color: #004f6d;
  }



#bio {
    background-color: #060724;
}

#skills {
    background-color: #edeced;
}

#about_me {
    background-color: #004f6d;
}

#projects {
    background-color: #060724;
}

#contact {
    background-color: #004f6d;
}

#footer {
  background-color: #333333;
  text-align: center;
}

#skills_header {
  color: #060724;
}
.column {
    float:left;
    width:50.00%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
  }
  .social-column {
    float:left;
    width:5.00%;
}
.social-row::after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.125rem;
}

h3 { 
    font-size: 1.75rem;
}

h4 { 
    font-size: 1.3125rem;
}

h5 { 
  font-size: 18px;
}

.text-block {
  padding: 30px;
}

#headline {
  max-height: 500px;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  width: 40%;
  border-radius: 16px;
  box-shadow: 7px 7px 10px #000000;
}

label {
  color:#060724;
}

input {
  color:#060724;
}

#profile-image {
  background-image: url("images/laura-chouette-nkWnc-W_GP8-unsplash.jpg");
  background-size: cover;
  height: 500px;
}